{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            Html
          </li>
        </ul>
      </aside>
    <article class="col-12 col-md-9">
      <h2>О Python</h2>
      <p>У <b>Python</b> много лиц, и часть из них окучила всю науку. Существуют инструменты в духе NumPy и Matplotlib, которые всерьез используются в научной сфере. Специалисты из NASA и других крупных корпораций задействуют скрипты Python для серьезных вычислений. </p>
      <p> Математики и физики любят Python всей душой, и для них это один из наиболее часто используемых языков. Специалисты пишут при помощи Пайтона полнофункциональные нейросети, программируют поведение роботов, создают мощнейшие системы анализа данных в интернете, способные обрабатывать колоссальные объемы текста и цифр. </p>
      <p>
        Преимущества:
        <ul>
          <li>
            Язык работает на всех платформах, поэтому с помощью него можно разрабатывать программы на чем угодно и под что угодно. 
          </li>
          <li>
            У языка колоссальная поддержка и действительно внушительная коллекция дополнений от сторонних  азработчиков. 
          </li>
          <li>  
            У него динамическая типизация (можно передавать в функции любой тип данных, предварительно его не указывая). 
          </li>
          <li>
            Он интерпретируемый, что позволяет раньше находить ошибки в ПО (до его полной сборки в полноценное приложение). 
          </li>
        </ul>
      </p>
      <h2>О Django</h2>
      <p>
        Django описывают как «веб-фреймворк для перфекционистов с дедлайнами». Его создали, чтобы переходить от прототипов к готовым сервисам как можно быстрее.
      </p> 
      <p>  
        Фреймворк поможет разработать CRUD приложение под ключ. С Django не придется изобретать велосипед. Он работает из коробки и позволит сосредоточиться на бизнес-логике и продуктах для обычных людей.
      </p>
      <p>
        Преимущества:
        <li>
          Принцип «Всё включено» («Batteries included»)
        </li>
        <li>
          Django содержит огромное количество функциональности для решения большинства задач веб-разработки.
        </li>
      </p>

    </article>
  </div>
{% endblock %} 